---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LimkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro"
import MailIcon from "../components/icons/Mail.astro"
---

<Layout title="Portafolio de Jorge - Desarrollador y Programador Backend">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
		<img class="rounded-full w-12 h-12 mb-5" 
			src="https://scontent.fbga2-1.fna.fbcdn.net/v/t39.30808-6/343982524_742423350871473_5984298339613892214_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFsp42yEVYMnykEyZ0Gwo3k30wVag3qnEPfTBVqDeqcQwsd3c6vH-MkgQzPRt3aS3VGEYg5ARk9LwRdhR29Kfca&_nc_ohc=1aAIf7t785kQ7kNvgEgcAFh&_nc_ht=scontent.fbga2-1.fna&oh=00_AfBB6l-aIp1-epSzpABP_lRKtTNaLTg18I8dZVkP0zkwbA&oe=663A0EF0" 
			alt="Jorge foto" 
		/>
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-5">
        Hola, soy Jorge <a href="https://www.linkedin.com/in/jorgedibarra/" 
		target="_blank" 
		rel="noopener"
		class="flex justify-center items-center">
			<Badge>Disponible para trabajar</Badge></a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        Soy un <span class="text-yellow-200/90">estudiante de ingenieria en sistemas</span> <span> de la universidad de
			Pamplona.</span> <span>Desarrollador backend en formación, enfocado en java y 
			spring.</span>
      </h2>

      <nav class="flex gap-x-4 mt-8">
		<SocialPill href="https://www.linkedin.com/in/jorgedibarra/">
			<LinkedInIcon class="w-6 h-6"/>
			LinkedIn
		</SocialPill>
		<SocialPill href="https://github.com/jorgedibarra">
			<GithubIcon class="w-6 h-6"/>
			Github
		</SocialPill>
		<SocialPill href="https://github.com/jorgedibarra">
			<MailIcon class="w-6 h-6"/>
			ibarrapaezj@gmail.com
		</SocialPill>
	  </nav>
    </section>
  </main>
</Layout>
