---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador backend en formación",
    description:
      "Me estoy formando como desarrollador backend con enfoque en la construcción de API REST utilizando tecnologías como Java, Hibernate, Spring Framework y sus proyectos internos. ",
  },
  {
    date: "2022",
    title: "Mision Tic",
    description:
      "Certificado en desarrollo de aplicaciones web por el Ministerio de Tecnologías de la Información y las Comunicaciones y la Universidad Industrial de Santander.",
  },
  
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
