---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Ingeniero de sistemas en Formación",
    description:
      "Estudiante de ultimos semestres de ingeniería en sistemas de la universidad de Pamplona. ",
  },
  {
    date: "2023 - 2024.",
    title: "Java Spring | Java Spring Security | Git y GitHub",
    description:
      "Me certifiqué en Java Spring, aprendiendo a desarrollar aplicaciones backend escalables con arquitectura en capas. También en Java Spring Security, donde implementé autenticación y autorización con JWT. Además, dominé Git y GitHub.",
  },
  {
    date: "2022",
    title: "Mision Tic - Desarrollo de aplicaciones web",
    description:
      "Me certifiqué en desarrollo de aplicaciones web por el Ministerio de Tecnologías de la Información y las Comunicaciones y la Universidad Industrial de Santander.",
  },
  
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
