---

interface Props {
  title: string;
  description: string;
  link?: string;
  date: string;
}

const { title, description, link, date } = Astro.props;
---

<div
  class="relative mx-8 pb-5 grid before:absolute before:left-[-35px] before:block before:h-full  before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-10 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-green-300 -left-[56px] absolute rounded-full text-5xl"
        >&bull;</span
      >
      <h3 class="text-lg font-bold text-green-300 mt-2">
        {title}
      </h3>
      <time class="mb-1 text-sm font-normal leading-none text-sky-200/80">
        {date}</time
      >
    </div>
  </div>

  <div class="relative flex flex-col gap-2 pb-4 text-gray-200 md:col-span-3">
    {description}
  </div>
</div>
