---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Septiembre 2025 - Marzo 2026",
    title: "Practicante de Ingenieria de Sistemas - CENS (Grupo EPM)",
    description:
      "Participe en el desarrollo de la primera version del sistema SITMEC (Sistema de Trazabilidad en Metrologia, Ensayos y Calidad), apoyando el ciclo completo de desarrollo de software: levantamiento y analisis de requerimientos,  desarrollo de la aplicacion y pruebas funcionales internas y con usuarios finales. Tambien contribui en el despliegue en ambiente QA, gestione tareas con Azure DevOps y elabore documentación tecnica y manuales de usuario, trabajando bajo metodologia Scrum.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
