---
// Importa los íconos que necesites
import Java from "./icons/Java.astro";
import Spring from "./icons/Spring.astro";
import JavaScript from "./icons/JavaScript.astro";  
import SkillPill from "./SkillPill.astro";
import MySQL from "./icons/MySQL.astro";
import Git from "./icons/Git.astro";
import React from "./icons/React.astro";
import Postman from "./icons/Postman.astro";
import IntelliJ from "./icons/IntelliJ.astro";
import VScode from "./icons/VScode.astro";
import Nest from "./icons/Nest.astro";
import Angular from "./icons/Angular.astro";
---

<section id="habilidades" >
      <ul class="flex gap-x-4 flex-row flex-wrap gap-y-4 justify-center">
        <SkillPill>
          <Java class="size-4 md:size-4" />
          <li>Java</li>
        </SkillPill>
        <SkillPill>
          <Spring class="size-4 md:size-4" />
          <li>Spring</li>
        </SkillPill>
        <SkillPill>
          <JavaScript class="size-4 md:size-4" />
          <li>JavaScript</li>
        </SkillPill>
        <SkillPill>
          <React class="size-4 md:size-4" />
          <li>React</li>
        </SkillPill>
        <SkillPill>
          <Nest class="size-4 md:size-4" />
          <li>NestJS</li>
        </SkillPill>
        <SkillPill>
          <Angular class="size-4 md:size-4" />
          <li>Angular</li>
        </SkillPill>
        <SkillPill>
          <MySQL class="size-4 md:size-4" />
          <li>MySQL</li>
        </SkillPill>
        <SkillPill>
          <Git class="size-4 md:size-4" />
          <li>Git</li>
        </SkillPill>
        <SkillPill>
          <Postman class="size-4 md:size-4" />
          <li>Postman</li>
        </SkillPill>
      </ul>
</section>